@page
@using Ethereal_Cloud.Helpers.Icons
@model Ethereal_Cloud.Pages.BinModel
@{
    ViewBag.Title = "Bin";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Upload.css" asp-append-version="true">
    <script src="/js/scripts.js"></script>
}

<!-- Success/error messages -->
<div class="popup-message">
    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show mx-auto">
            <strong>Success!</strong> @ViewData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>

    }
    @if (ViewData["FailureMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show mx-auto">
            <strong>Error!</strong> @ViewData["FailureMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    }
</div>

<!-- File explorer -->
<div id="file-explorer" class="row mt-3">

    <!-- Files Box -->
    <div id="filebox" class="col-lg-12 col-md-12 col-sm-12 h-100">
        <!-- FilePath -->
        <div id="filepath" class="row">

            <!-- Sort button -->
            <div id="filepath-button" class="col">
                <a href="#" onclick="toggleSort()">
                    <img title="Sort" id="toggleImage" class="row" src="@SetSort()" alt="path">
                </a>
            </div>
        </div>

        <!-- Appears when the files are loaded -->
        <div id="scrollbox" class="row d-flex">
            @if (Model.DisplayList.Count > 0)
            {
                <div class="row" id="scrollbox-contents">
                    @foreach (var display in Model.DisplayList)
                    {
                        <div id="uploaded-files" class="file-hover" onmouseover="showButton('fileButtonHolder-@display.Id-@display.Type')" onmouseout="hideButton('fileButtonHolder-@display.Id-@display.Type')">
                            <a id="fileLink">
                                <img id="uploaded-files-img" src="~/images/file-icons/@FileFolderIcon.GetIcon(display.Type)" alt="logo" class="logo">
                            </a>
                            <p>@display.Name</p>

                            <!-- Buttons for files/folders-->
                            <div id="fileButtonHolder-@display.Id-@display.Type" class="fileButtonHolder" style="">

                                <button title="Restore" id="fileSettingsButton" onclick="restoreFileFolder('@display.Id', '@display.Type')">
                                    <img id="fileSettingsImage" src="~/images/menu-icons/cloud-restore.svg" alt="path">
                                </button>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-files text-center">
                    <img class="row" src="~/images/tools/search.svg" alt="search" style="width: -webkit-fill-available; opacity: 50%;">
                    <h3 class="row">No files here</h3>
                </div>
            }
        </div>
    </div>
</div>

@{

    <!--Scripts -->
    <script>
        document.body.addEventListener('click', function (event) {
            var parent = event.target.parentNode;

            if (parent.id === 'fileSettingsButton') {

                return;
            }


            if (matchMedia('(hover: hover)').matches) {
                var buttonHolder = document.querySelectorAll('.fileButtonHolder');
                buttonHolder.forEach(function (button) {
                    button.style.display = 'none';
                });
            }
        });

    </script>

    <!-- Hidden form for restore folder action -->
    <form id="restoreForm" method="post" asp-page-handler="Restore">
        <input name="Id" type="hidden" id="restoreIdInput">
        <input name="fileType" type="hidden" id="restoreTypeInput">
    </form>

    <!-- Hidden form for sorting -->
    <form id="sortForm" method="post" asp-page-handler="Sort">
    </form>

    string SetSort()
    {
        if (@Model.sortDisplay)
        {
            // Alphabetical
            return "images/tools/sort-alpha-up.svg";

        }
        else
        {
            // Backwards alphabetical
            return "images/tools/sort-alpha-down.svg";
        }
    }
}