@page
@using Ethereal_Cloud.Models
@using Ethereal_Cloud.Icons
@model Ethereal_Cloud.Pages.UploadModel
@{
    ViewBag.Title = "Upload";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Upload.css" asp-append-version="true">
    <script src="/js/scripts.js"></script>
}

<!-- File explorer -->
<div id="file-explorer" class="row mt-3">

    <!-- Files Box -->
    <div id="filebox" class="col-lg-12 col-md-12 col-sm-12 h-100">
        <!-- FilePath -->
        <div id="filepath" class="row">

            <!-- Sort button -->
            <div id="filepath-button" class="col">
                <a href="#" onclick="toggleSort()">
                    <img title="Sort" id="toggleImage" class="row" src="@SetSort()" alt="path">
                </a>
            </div>

            <!-- New folder button -->
            <div id="filepath-button" class="col">
                <a href="#" onclick="showInputBox()">
                    <img title="Create New Folder" class="row" src="~/images/tools/folder-plus.svg" alt="path">
                </a>
            </div>

            <!-- Divider -->
            <div id="filepath-button" class="col">
                <a>
                    <img id="rotated-image" style="margin:0;" src="~/images/file-path/dash-lg.svg" alt="path">
                </a>
            </div>

            <!-- Path Back button-->
            <div id="filepath-button" class="col">
                <a asp-page-handler="GoToFolderInPath" asp-route-Id="-1">
                    <img title="Back" src="~/images/file-path/path-back.svg" alt="path">
                </a>
            </div>

            <!-- Root Image -->
            <div class="col" id="path-root">
                <a asp-page-handler="GoToFolderInPath" asp-route-Id="-2">
                    <img title="Home" src="~/images/file-path/path-root.svg" alt="path">
                </a>
            </div>

            <div id="content-container" class="col">
                <!-- Current Filepath-->
                @if (Model.FolderPath.Count > 0)
                {
                    @foreach (var display in Model.FolderPath)
                    {
                        <div id="path-divider" class="col">></div>

                        <div class="file-hover">
                            <a asp-page-handler="GoToFolderInPath" asp-route-Id="@display.FolderID">
                                <p id="path-folder" style="margin:3px;">@display.Foldername</p>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>

        <!-- Appears when the files are loaded -->
        <div id="scrollbox" class="row d-flex">
            @if (Model.DisplayList.Count > 0)
            {
                <div class="row" id="scrollbox-contents">
                    @foreach (var display in Model.DisplayList)
                    {
                        <div id="uploaded-files" class="file-hover" ontouchstart="tap('@display.Id','@display.Type','@display.Name')" ontouchend="tapCancel()" ondblclick="navIntoFolderOrDownload('@display.Id','@display.Type','@display.Name')" onmouseover="showButton('fileButtonHolder-@display.Id-@display.Type')" onmouseout="hideButton('fileButtonHolder-@display.Id-@display.Type', 'file-info-@display.Id-@display.Type')">
                            <a id="fileLink">
                                <img id="uploaded-files-img" src="~/images/file-icons/@FileFolderIcon.GetIcon(display.Type)" alt="logo" class="logo">
                            </a>
                            <p>@display.Name</p>

                            <!-- Buttons for files/folders-->
                            <div id="fileButtonHolder-@display.Id-@display.Type" class="fileButtonHolder" style="">


                                @if (@display.Type == "Folder")
                                {
                                // Folders
                                    <button id="fileSettingsButton" aria-expanded="false" aria-controls="file-info-@display.Id" onclick="toggleFileInfo('file-info-@display.Id-@display.Type')">
                                        <img id="fileSettingsImage" src="~/images/menu-icons/three-dots.svg" alt="path">

                                        <div id="file-info-@display.Id-@display.Type" class="file-info">
                                            <div class="menu" id="@display.Id-menu">
                                                <div class="menu-item" onclick="showRenamePopup('@display.Id', '@display.Type')">Rename</div>
                                                <div class="menu-item" onclick="deleteFile('@display.Id', '@display.Type')">Delete</div>
                                            </div>
                                        </div>
                                    </button>
                                }
                                else
                                {
                                    // Files
                                    <button id="fileSettingsButton" onclick="downloadFile('@display.Id')">
                                        <img id="fileSettingsImage" src="~/images/menu-icons/cloud-download.svg" alt="path">
                                    </button>
                                    <button id="fileSettingsButton" aria-expanded="false" aria-controls="file-info-@display.Id-@display.Type" onclick="toggleFileInfo('file-info-@display.Id-@display.Type')">
                                        <img id="fileSettingsImage" src="~/images/menu-icons/three-dots.svg" alt="path">

                                        <div id="file-info-@display.Id-@display.Type" class="file-info">
                                            <div class="menu" id="@display.Id-menu">
                                                <div class="menu-item" onclick="downloadFile('@display.Id')">Download</div>

                                                <div class="menu-item" onclick="showRenamePopup('@display.Id', '@display.Type')">Rename</div>

                                                <div class="menu-item" onclick="showSharePopup('@display.Id')">Share</div>

                                                <div class="menu-item" onclick="deleteFile('@display.Id', '@display.Type')">Delete</div>
                                            </div>
                                        </div>
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="no-files text-center">
                    <img class="row" src="~/images/tools/search.svg" alt="search" style="width: -webkit-fill-available; opacity: 50%;">
                    <h3 class="row">No files here</h3>
                </div>
            }
        </div>

        <!-- Hidden folder naming input box -->
        <div id="input-box" class="popup-input" style="display:none;">
            <form id="folder-form" method="post" asp-page-handler="CreateFolder">
                <!--FileName Field-->
                <div class="form-floating">
                    <input asp-for="createFolderDetails.FolderName" class="form-control" placeholder=" ">
                    <label for="folderName">Enter Folder Name</label>
                    <span asp-validation-for="createFolderDetails.FolderName" class="text-danger"></span>
                </div>

                <!-- Submit button -->
                <div class="mb-3 ">
                    <button type="submit" id="create-folder-btn" class="popup-input-btn btn btn-primary">Create Folder</button>
                    <button type="button" onclick="cancelFolderCreation()" class="popup-input-btn btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>

        <!-- Rename Popup -->
        <div id="renamePopup" class="popup-input" style="display:none;">
            <form id="rename-form" method="post" asp-page-handler="Rename">
                <!-- NewFileName Field-->
                <div class="form-floating">
                    <input asp-for="renameDetails.Name" class="form-control" placeholder=" " required>
                    <label for="newFileName">Enter File Name</label>
                </div>

                <div class="form-floating" style="display:none;">
                    <input asp-for="renameDetails.Id" id="renameIdInput" class="form-control" placeholder=" " required>
                </div>

                <div class="form-floating" style="display:none;">
                    <input asp-for="renameDetails.Type" id="renameTypeInput" class="form-control" placeholder=" " required>
                </div>

                <!-- Submit button -->
                <div class="mb-3 ">
                    <button type="submit" id="rename-file-btn" class="popup-input-btn btn btn-primary">Rename File</button>
                    <button type="button" onclick="cancelRename()" class="popup-input-btn btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>

        <!-- Share Popup -->
        <div id="sharePopup" class="popup-input" style="display:none;">
            <form id="share-form" method="post" asp-page-handler="Share">
                <!-- Email Field-->
                <div class="form-floating">
                    <input asp-for="shareDetails.Username" class="form-control" placeholder=" " required>
                    <label for="email">Enter Username</label>
                </div>

                <div class="form-floating" style="display:none;">
                    <input asp-for="shareDetails.Id" id="shareIdInput" class="form-control" placeholder=" " required>
                </div>

                <!-- Share button -->
                <div class="mb-3 ">
                    <button type="submit" id="share-file-btn" class="popup-input-btn btn btn-primary">Share</button>
                    <button type="button" onclick="cancelShare()" class="popup-input-btn btn btn-secondary">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Bottom upload dotted box -->
    <div id="upload-box" class="row mt-3">
        <h3>Upload your files</h3>
        <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
            <div class="mb-3" id="file-input-box">
                <input class="form-control" type="file" name="uploadedFiles" id="fileInput" multiple>
                <input type="submit" class="btn btn-success" value="Upload" disabled>
            </div>
        </form>
    </div>
</div>

@{
    <!-- Scripts -->
    <script>

        // Function to show the rename popup
        function showRenamePopup(id, type) {
            document.getElementById("renamePopup").style.display = "block";



            console.log("Share activated: " + id  + "   " + type)
            document.getElementById('renameIdInput').value = id;
            document.getElementById('renameTypeInput').value = type;
        }

        // Function to close the rename popup
        function cancelRename() {
            document.getElementById("renamePopup").style.display = "none";
        }

        // Function to show the share popup
        function showSharePopup(id) {
            document.getElementById("sharePopup").style.display = "block";

            console.log("Share activated: " + id)
            document.getElementById('shareIdInput').value = id;
        }


        // Function to close the share popup
        function cancelShare() {
            document.getElementById("sharePopup").style.display = "none";
        }





        //Below greys out upload button until files are selected
        document.getElementById('fileInput').addEventListener('change', function () {
            var uploadButton = document.querySelector('.btn-success');
            if (this.files.length > 0) {
                uploadButton.disabled = false;
            } else {
                uploadButton.disabled = true;
            }
        });

        function showButton(id) {
            var button = document.getElementById(id);
            button.style.display = 'inline';
        }

        function hideButton(holderId, menuId) {
            if (matchMedia('(hover: hover)').matches) {
                var holder = document.getElementById(holderId);
                var menu = document.getElementById(menuId);
                if (menu.style.display !== "block") {
                    holder.style.display = "none";
                }
            }
        }

        //Loads naming folder popup
        function showInputBox() {
            document.getElementById('input-box').style.display = 'block';
            document.querySelector('#input-box input[name="foldername"]').focus();
        }

        function toggleFileInfo(id) {

            var fileInfo = document.getElementById(id);
            var expanded = fileInfo.getAttribute('aria-expanded') === 'true';

            // Toggle the aria-expanded attribute
            fileInfo.setAttribute('aria-expanded', !expanded);

            // Toggle the visibility of the file info
            if (expanded) {
                fileInfo.style.display = 'none';
            } else {
                fileInfo.style.display = 'block';
            }
        }

        document.body.addEventListener('click', function (event) {
            var parent = event.target.parentNode;

            if (parent.id === 'fileSettingsButton') {

                return;
            }

            var menuOpen = document.querySelectorAll('.file-info');
            menuOpen.forEach(function (menu) {
                menu.setAttribute('aria-expanded', false);
                menu.style.display = 'none';
            });

            if (matchMedia('(hover: hover)').matches) {
                var buttonHolder = document.querySelectorAll('.fileButtonHolder');
                buttonHolder.forEach(function (button) {
                    button.style.display = 'none';
                });
            }
        });

        // Console logger
        var logger = '@ViewData["logger"]';
        if (logger !== null) {
            console.log(decodeHtml(logger));
        }

        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
    </script>

    string SetSort()
    {
        if (@Model.sortDisplay)
        {
            // Alphabetical
            return "images/tools/sort-alpha-up.svg";

        }
        else
        {
            // Backwards alphabetical
            return "images/tools/sort-alpha-down.svg";
        }
    }

    <!-- Hidden form for delete action -->
    <form id="deleteForm" method="post" asp-page-handler="Delete">
        <input name="fileId" type="hidden" id="fileIdInput">
        <input name="type" type="hidden" id="typeInput">
    </form>

    <!-- Hidden form for download action -->
    <form id="downloadForm" method="post" asp-page-handler="Download">
        <input name="fileId" type="hidden" id="fileIdDownloadInput">
    </form>

    <!-- Hidden form for share action -->
    <form id="shareForm" method="post" asp-page-handler="Share">
        <input name="fileId" type="hidden" id="fileIdShareInput">
    </form>

    <!-- Hidden form for nav action -->
    <form id="navForm" method="post" asp-page-handler="Navigate">
        <input name="Id" type="hidden" id="idNavInput">
        <input name="Name" type="hidden" id="nameNavInput">
    </form>

    <!-- Hidden form for sorting -->
    <form id="sortForm" method="post" asp-page-handler="Sort">
    </form>
}