@page
@model Ethereal_Cloud.Pages.UploadModel
@{
    ViewBag.Title = "Upload";
    Layout = "Shared/_Layout.cshtml";
    <link rel="stylesheet" href="/css/Upload.css" asp-append-version="true">
}

<!-- File explorer -->
<div id="file-explorer" class="row mt-3">

    <!-- Files Toolbox -->
    <div id="toolbox" class="col-lg-1 col-md-2 col-sm-2">
        <div id="tools" class="row">

            <!-- Sort button -->
            <div id="tool-row" onclick="toggleImage()">
                <a id="tool-label">
                    <img id="toggleImage" class="row" src="~/images/tools/sort-alpha-down.svg" alt="Image 1">
                </a>
                <p class="row">Sort</p>
            </div>

            <!-- New folder button -->
            <div id="tool-row">
                <a id="tool-label" asp-page-handler="Createfolder" asp-route-foldername="temp">
                    <img class="row" src="~/images/tools/folder-plus.svg" alt="new-folder">
                </a>
                <p class="row">New</p>
            </div>

            <!-- Share button -->
            <div id="tool-row">
                <a id="tool-label">
                    <img class="row" src="~/images/tools/share.svg" alt="share">
                </a>
                <p class="row">Share</p>
            </div>

            <!-- Delete button -->
            <div id="tool-row">
                <a id="tool-label">
                    <img class="row" src="~/images/tools/trash.svg" alt="trash">
                </a>
                <p class="row">Delete</p>
            </div>
        </div>
    </div>

    <!-- Files Box -->
    <div id="filebox" class="col-lg-11 col-md-10 col-sm-10">
        <!-- FilePath -->
        <div id="filepath" class="row">
            <!-- Path Back button-->
            <div id="filepath-button" class="col-1" style="width: 6%;">
                <a asp-page-handler="GoToFolderInPath" asp-route-folderId="-1">
                    <img src="~/images/file-path/path-back.png" alt="path">
                </a>
            </div>

            <div id="content-container" class="col-11">
                <!-- Root Image -->
                <div class="col" id="path-root">
                    <a asp-page-handler="GoToFolderInPath" asp-route-folderId="-2">
                        <img src="~/images/file-path/path-root.png" alt="path">
                    </a>
                </div>

                <!-- Current Filepath-->
                @if (Model.FolderPath.Count > 0)
                {
                    @foreach (var display in Model.FolderPath)
                    {
                        <div id="path-divider" class="col">></div>

                        <div class="file-hover">
                            <a asp-page-handler="GoToFolderInPath" asp-route-folderId="@display.FolderID">
                                <p id="path-folder" style="margin:0px;">@display.Foldername</p>
                            </a>
                        </div>
                    }
                }
            </div>            
        </div>

        <!-- Appears when the files are loaded -->
        <div id="scrollbox" class="row">

            <!-- Success/error messages -->
            <div class="popup-message">
                @if (Model.errornum == -1) { }

                @if (Model.errornum == 0)
                {
                    <!-- Error Alert -->
                    <div class="alert alert-danger alert-dismissible fade show mx-auto" id="popup">
                        <strong>Error!</strong> Upload failed, are you logged in?
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    </div>
                }
            </div>

            @if (Model.DisplayList.Count > 0)
            {
                @foreach (var display in Model.DisplayList)
                {
                    <div id="uploaded-files" class="file-hover">
                        <a asp-page-handler="@GetFileItemHandler(display.Type)" asp-route-itemname="@display.Id : @display.Name">
                            <img src="~/images/file-icons/@GetImageForFileType(@display.Type)" alt="logo" class="logo">
                        </a>
                        <p>@display.Name</p>
                    </div>
                }
            }
            else
            {
                <div class="no-files">
                    <div>
                        <img class="row" src="~/images/tools/search.svg" alt="search" style="width: -webkit-fill-available; opacity: 50%;">
                        <h3 class="row">No files here</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- Bottom upload dotted box -->
<div id="upload-box" class="row mt-3">
    <h3>Upload your files</h3>
    <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
        <div class="mb-3" id="file-input-box">
            <input class="form-control" type="file" name="uploadedFile" id="fileInput" multiple>
            <input type="submit" class="btn btn-success" value="Upload" />
        </div>
    </form>
</div>

@{
    <!-- Console logger -->
    <script>
        var logger = '@ViewData["logger"]';
        if (logger !== null) {
            console.log(decodeHtml(logger));
        }

        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }

        function toggleImage() {
            var imageElement = document.getElementById('toggleImage');
            if (imageElement.src.endsWith('sort-alpha-down.svg')) {
                imageElement.src = 'images/tools/sort-alpha-up.svg';
            } else {
                imageElement.src = 'images/tools/sort-alpha-down.svg';
            }
        }
    </script>

    string GetFileItemHandler(string fileHandler)
    {
        if (fileHandler == "Folder")
        {
            return "Navigate";
        }
        else
        {
            return "Download";
        }
    }

    string GetImageForFileType(string fileType)
    {
        //looks at files Mime type and gets appropriate image
        switch (fileType.ToLower())
        {
            case "folder":
                return "folder.svg";
            case "image/png":
            case "image/jpeg":
            case "image/gif":
                return "file-image.svg";
            case "audio/mpeg":
                return "file-music.svg";
            case "video/mp4":
                return "file-video.svg";
            case "application/pdf":
                return "file-pdf.svg";
            case "application/msword":
            case "text/plain":
                return "file-doc.svg";
            default:
                return "unknown.svg"; //Unknown type
        }
    }
}