@page
@model Ethereal_Cloud.Pages.LandlingPageModel
@{
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    Layout = "SidebarsLayout";
    <link rel="stylesheet" href="/css/Site.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/Upload.css" asp-append-version="true">
}

<body>
    <div class="top-bar">
    </div>

    <div class="wrapper2">
        <div class="text-box">
            <div>
                <form method="post" asp-page-handler="File">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required />

                    <button type="submit">File</button>
                </form>

                <p id="test-out"></p>

                <script>
                    var popupStatus = '@ViewData["PopupStatus"]';

                    let out = document.getElementById("test-out");
                    out.innerText = popupStatus;
                </script>
            </div>

            <h2>Files</h2>

            @if (Model.Files != null)
            {
                @foreach (var file in Model.Files)
                {
                    <div>
                        <span>@file.Filename</span>
                        <form method="post" asp-page-handler="Download">
                            <input type="hidden" name="filename" value="@file.Filename" />
                            <button type="submit">Download</button>
                        </form>
                    </div>
                    <h2>other method</h2>
                    <div>
                        <span>@file.Filename</span>
                        <a asp-page-handler="Download" asp-route-filename="@file.Filename">Download</a>
                    </div>
                }
            }
            else
            {
                <p>No files available.</p>
            }

            <div class="profile">
                <h3>Here you will see files that you upload (once the controller is done) </h3>
            </div>
        </div>

        <div class="upload-box">
            <h1>Upload</h1>
            <form method="post" enctype="multipart/form-data" asp-page-handler="Upload">
                <div>
                    <label for="fileInput">Choose a file:</label>
                    <input type="file" id="fileInput" name="uploadedFile" />
                </div>
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </form>
            <img src="~/UploadArrow.png" alt="logo" class="logo">
            <p></p>

            <div class="upload-btn-wrapper">
                <button class="btn">Upload a file</button>
                <input type="file" name="myfile" />
            </div>
        </div>
    </div>
</body>