<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ethereal_Cloud</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ethereal_Cloud.styles.css" asp-append-version="true" />
</head>
<body>

    <!--Header-->
    <header class="row">
        <img src="~/Logo.png" alt="logo" class="logo">
        <h1>Ethereal Cloud</h1>

    </header>

    <!--Main-->
    <main class="row">

        <!--Sidebar-->
        <div class="sidebar col-2">
            <nav class="sidebar sticky-top">

                <div class="sidebar-header">Ethereal Cloud</div>

                <ul class="sidebar-body navbar-nav me-auto mb-2 mb-lg-0 nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/Index" || Context.Request.Path == "/" ? "active" : "")" asp-area="" asp-page="/Index">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/Account" ? "active" : "")" asp-area="" asp-page="/Account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link @(Context.Request.Path == "/Error" ? "active" : "")" asp-area="" asp-page="/Error">Error</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </nav>
        </div>
        <!--Content-->
        <div class="content col-10">

            <!--Topbar-->
            <nav class="navbar">

                <!-- Navbar content -->
                <h1>navbar</h1>

            </nav>

            <div class="content render-body">
                @RenderBody()
            </div>

        </div>

    </main>

    <!--Footer-->
    <footer class="footer text-muted row">
        <div class="container">
            &copy; 2023 - Ethereal_Cloud - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>